/* Main marketing message and sign up button */

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

.marketing {
  margin: 40px;
}
.marketing p + h4 {
  margin-top: 28px;
}



.navbar {
	margin-top: -25px;

}


.col-md-4 {
	border-color: black;
	background-color: orange;
	height: 198px;
}

#footer {
	position: relative;
	width: 700px;
	margin: 0 auto;
}	

.container-fluid {
	height: 200px;
	background-color: #89CFCE;
	background-image: url('../Assets/header_bg.png');
	background-repeat:repeat-x;
}

.navbar-text {
	display: inline-block;
	padding-left: 20px;
	text-align: center;

}

.navbar-section {
	margin-left: 17%;
	text-align: center;
}

#heading-logo {
	
	height: 80px;
	width: 157px;
	margin: 20px 42% 0px ;
	background-image: url('../Assets/logo.png');
	background-repeat: no-repeat;
}
#title-row {
	text-align: center;
}

#title {
	font-size: 30px;
	margin-top: 0px;
}

p > span {
	font-weight: bold;
}

ol {
	font-size: 20px;
	font-color: white;
}